.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #282c34;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin); /* Ajustar el tamaño de la fuente */
    padding: 10px; /* Ajustar el padding */
    width: 100vw; /* Establecer el ancho al 100% del viewport */
  }
}